.clearflx {
    zoom: 1;
}

.clearflx:after {
    clear: both;
    content: "";
    display: block;
    width: 0;
    height: 0;
    visibility: hidden;
}

.header {
    position: fixed;
    top: 0;
    background-color: rgba(0, 0, 0, .4);
    height: 80px;
    width: 100%;
    z-index: 9;
}

.header .hd-centent {
    width: 1120px;
    height: 80px;
    margin: 0 auto;
}

.header .hd-logo {
    float: left;
    width: 170px;
    height: 80px;
    line-height: 80px;
}

.header .hd-logo>a {
    display: block;
    width: 170px;
    height: 80px;
    background-image: url(../img/logo.png);
    background-position: left center;
    background-repeat: no-repeat;
}

.header .hb-nav {
    float: right;
    height: 80px;
    line-height: 80px;
}

.header .hb-nav>a.red {
    color: #ee3b3f
}

.header .hb-nav>a {
    color: #ffffff;
    font-size: 16px;
    padding: 0 25px;
    cursor: pointer
}

.header .hb-nav>a.hover {
    position: relative;
}

.header .hb-nav>a.hover:hover .erwei {
    display: block
}

.header .hb-nav>a.hover .erwei {
    position: absolute;
    top: 40px;
    left: -30px;
    width: 180px;
    padding: 20px 0 0;
    height: 220px;
    background-color: #ffffff;
    border-radius: 3px;
    -webkit-border-radius: 3px;
    display: none;
}

.header .hb-nav>a.hover .erwei>div.img {
    width: 140px;
    height: 140px;
    margin: 0 auto 20px;
}

.header .hb-nav>a.hover .erwei>div.cent {
    line-height: 40px;
    width: 100%;
    height: 40px;
    text-align: center;
    color: #999999;
    border-bottom-left-radius: 3px;
    border-bottom-right-radius: 3px;
    background-color: #f2f2f2;
}

.header .hb-nav>a.hover .erwei:after {
    width: 0;
    height: 0;
    border-width: 0 12px 12px 12px;
    border-style: solid;
    border-color: transparent transparent #ffffff transparent;
    position: absolute;
    left: 0;
    top: -12px;
    right: 0;
    margin: auto;
    content: "";
}

.header .hb-nav>a:hover {
    color: #ee3b3f;
}

.banner {
    width: 100%;
    position: relative;
}

.banner .banner-cen>a {
    display: block;
    background-position: center;
    background-repeat: no-repeat;
    width: 100%;
    height: 880px;
}

.banner .banner-tent>a {
    display: block;
    background-position: center;
    background-repeat: no-repeat;
    width: 100%;
    height: 580px;
}

.center-one {
    width: 1120px;
    margin: 0 auto;
    padding: 150px 0 220px;
    background-image: url(../img/cent-one.png);
    background-position: center right 60px;
    background-repeat: no-repeat;
    background-size: 350px 363px;
    position: relative;
}

.center-one:after {
    display: block;
    position: absolute;
    bottom: 0px;
    width: 100%;
    height: 22px;
    content: "";
    background-image: url(../img/divide.png);
    background-position: center bottom;
    background-repeat: no-repeat;
}

.center-one>p.tit,
.center-tow>p.tit {
    font-size: 30px;
    color: #333333;
    padding-bottom: 40px;
}

.center-one>p.ten,
.center-tow>p.ten {
    font-size: 18px;
    color: #999999;
    line-height: 30px;
}

.center-tow {
    margin: 0 auto;
    width: 1120px;
    padding: 220px 0 220px 518px;
    background-image: url(../img/shoutu.png);
    background-position: center left 90px;
    background-repeat: no-repeat;
    background-size: 350px;
}

.map {
    width: 100%;
    height: 200px;
    background-image: url(../img/map.png);
    background-repeat: no-repeat;
    background-position: center;
    text-align: center;
}

.map>span {
    line-height: 200px;
    font-size: 32px;
    color: #333333;
}

.center-three {
    width: 100%;
    padding: 60px 0;
    background-color: #e4e3e3;
    text-align: center;
}

.center-three>ul {
    width: 1120px;
    margin: 0 auto;
}

.center-three>ul>li {
    float: left;
    width: 280px;
    height: 190px;
}

.center-three>ul>li.ten {
    padding: 30px 36px;
    background-color: #ffffff;
}

.center-three>ul>li.ten>p {
    color: #ff8a1e;
    font-size: 16px;
    padding-bottom: 15px;
    text-align: center
}

.center-three>ul>li.ten>span {
    font-size: 14px;
    line-height: 20px;
    color: #333333;
}

.center-from {
    width: 1120px;
    height: 580px;
    overflow: hidden;
    margin: 0 auto;
}

.swiper-container {
    width: 100%;
}

.ct-ten {
    padding-top: 120px;
}

.ct-ten>p {
    display: block;
    width: 100%;
    text-align: center;
    color: #333333;
    font-size: 26px;
    padding-bottom: 60px;
}

.ct-ten>span {
    color: #999999;
    font-size: 18px;
    line-height: 35px;
}

.ct-ten>div {
    padding-top: 36px;
    width: 100%;
    text-align: center;
    font-size: 20px;
    color: #333333;
}

.footer {
    width: 100%;
    background-color: #222222;
    padding: 70px 0 60px;
    text-align: center;
}

.footer .fenx {
    display: -webkit-flex;
    display: flex;
    justify-content: center;
    -webkit-justify-content: center;
}

.footer .fenx>a {
    display: block;
    width: 40px;
    height: 40px;
    background-position: center;
    background-repeat: no-repeat;
    margin: 50px 50px 60px;
}

.footer .fenx .weib {
    background-image: url(../img/weibb.png);
}

.footer .fenx .weix {
    background-image: url(../img/weixx.png);
}

.footer .sh,
.bz {
    font-size: 14px;
    padding: 8px;
    color: #ffffff;
}

.footer .sh>span,
.footer .bz>span {
    font-family: "宋体" !important;
    padding: 8px;
}

.ab-center {
    width: 1120px;
    margin: 0 auto;
    padding: 80px 0;
}

.ab-center .intro>p.tit {
    font-size: 30px;
    color: #333333;
    padding-bottom: 70px;
    text-align: center;
}

.ab-center .intro>p.cen {
    font-size: 18px;
    line-height: 35px;
    color: #999999;
}

.ab-center .intro>p.cen>span {
    color: #333333;
}

.time-shaft {
    margin-top: 40px;
    width: 100%;
}

.time-shaft .tit {
    font-size: 22px;
    padding-left: 20px;
    color: #333333;
}

.time-shaft .shaft {
    width: 890px;
    float: right;
    margin-right: 60px;
    border-left: solid 2px #efefef;
    margin-top: 20px;
}

.time-shaft .shaft .data {
    position: relative;
    width: 840px;
    padding: 25px;
    font-size: 14px;
    float: right;
    background-color: #efefef;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    color: #999999;
    margin-bottom: 16px;
}

.time-shaft .shaft .data:after {
    width: 0;
    height: 0;
    border-width: 12px 12px 12px 0;
    border-style: solid;
    border-color: transparent #efefef transparent transparent;
    position: absolute;
    bottom: 0;
    left: -12px;
    top: 0;
    margin: auto;
    content: "";
}

.time-shaft .shaft .data:before {
    width: 20px;
    content: "";
    height: 20px;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    background-color: #efefef;
    position: absolute;
    top: 0;
    bottom: 0;
    left: -59px;
    margin: auto
}

.time-shaft .shaft .data .times {
    width: 90px;
    height: 15px;
    position: absolute;
    top: 0;
    bottom: 0;
    left: -160px;
    margin: auto;
    color: #999999;
}

.cen-header {
    text-align: center;
}

.cen-header>h3 {
    font-size: 30px;
    padding-bottom: 25px;
    font-weight: 500;
    color: #333333;
}

.cen-header>p {
    font-size: 16px;
    padding-bottom: 8px;
    color: #999999;
}

.position-list {
    width: 100%;
}

.position-list>ul {
    padding: 0 30px;
    margin-top: 50px;
}

.position-list>ul>div {
    padding-left: 28px;
    background-image: url(../img/dian.png);
    background-position: left center;
    background-repeat: no-repeat;
    font-size: 20px;
    color: #333333;
    margin-bottom: 30px;
}

.position-list>ul>p {
    font-size: 16px;
    color: #666666;
    padding-left: 28px;
    margin-bottom: 20px;
}

.position-list>ul>li {
    font-size: 16x;
    color: #999999;
    padding-bottom: 18px;
    padding-left: 45px;
}